<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Our Company</title>
    <style>
        h1, p{
            text-align: center;
            padding: 20px;
        }
        p{
            border: 2px solid #000;
            margin-left: 80px;
            margin-right: 80px;
        }
        .center-container {
            text-align: center;
            padding: 20px;
        }
    </style>
</head>
<body>
<h1>
    About Our Company
</h1>
<p>
  Welcome to John's Computer Shop! We strive to be your destination for computer parts and custom-built PC's.
  We are passionate about providing the highest quality components at a reasonable price. Whether you are upgrading,
  building a PC from scratch, or just seeking advice on the latest technology, we are here to help!
</p>
<div class = "center-container">
<a href="http://localhost:8080/"> Return Home</a>
</div>
</body>
</html>