<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Our Company</title>
</head>
<body>
<p>
  Welcome to John's Computer Shop! We strive to be your destination for computer parts and custom-built PC's.
  We are passionate about providing the highest quality components at a reasonable price. Whether you are upgrading,
  building a PC from scratch, or just seeking advice on the latest technology, we are here to help!
</p>

<a href="http://localhost:8080/"> Return Home</a>
</body>
</html>